.list_type {
  text-transform: capitalize;
}

.price_list_table {
  width: 70%;
  margin: auto;

  border-top: 1px solid #000;
  margin-top: 10px;
  padding: 10px 0px;
}

@media all and (max-width: 768px) {
  .price_list_table {
    width: 90%;
  }
}
