.main-text {
  margin-top: 10px;
  line-height: 25px;
}

.main-text.green {
  color: #269443;
}

.main-text.red {
  color: #cb1c23;
}

.main-text.white {
  color: #fff;
}

.main-text.center {
  text-align: center;
}
