.price_lists_details {
  background-color: var(--yellow);
  padding: 10px;
}

.price_lists_details p {
  font-size: 22px;
  font-weight: 700;
}

.curretDate {
  color: #fff;
}

.lastUpdatedDate {
  color: #fff;
  border-bottom: 1px solid #000;
}
